*{
  font-family:Helvetica, sans-serif;
  
}

body{
  padding: 60px;
}

input{
  width: 100%;
  box-shadow: 1px 2px 6px grey;
  color: #333333;
}

.divCard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}
.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 40px;
  overflow: hidden;
  width: 90%;
  
}

.card p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.card img {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}